<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpA0863526952F7834E7C922F065E4C8A8" Guid="{AC22BF68-A234-4581-8767-FF817C7D9836}">
                <File Id="filC04B02D0CCC2D5CCC1013B35DE86DB29" KeyPath="yes" Source="$(var.BasePath)\appsettings.Development.json" />
            </Component>
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="{43982FCC-39A8-4281-869B-B5931AD07538}">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.BasePath)\appsettings.json" />
            </Component>
            <Component Id="cmp07CAF59AC988C09B0D7F8E87284AAFCA" Guid="{9A752BDD-B432-4383-A2E9-DE0523AA427F}">
                <File Id="fil3EF99912535F209EA7FB64BE64AEF7EF" KeyPath="yes" Source="$(var.BasePath)\aspnetcorev2_inprocess.dll" />
            </Component>
            <Component Id="cmpFEDF4DFA76D910658BCEDEBD4353FB46" Guid="{CCC8F415-D52D-4499-A8CD-1C218D84FB14}">
                <File Id="fil3D2B3B8D2E39E5AA5E0B6AF0717F93FC" KeyPath="yes" Source="$(var.BasePath)\hostsettings.json" />
            </Component>
            <Component Id="cmpCF9EB4896E2EFEE045E5A3D1E1FE31D7" Guid="{BE1B65D5-0FD9-416B-A8C8-75C6CA1D5282}">
                <File Id="filB964C172B7BDE8C7CF001F5BE6F5559E" KeyPath="yes" Source="$(var.BasePath)\log4net.config" />
            </Component>
            <Component Id="cmpD6D3DADA9391875AF2602CED4976A7D9" Guid="{4E7231CF-D3FF-4DDA-A1B4-817C7907F7E3}">
                <File Id="filD6CB1AB2CD0A0D6C1544B4C30D1BF20A" KeyPath="yes" Source="$(var.BasePath)\PdfAutoSigner.Lib.pdb" />
            </Component>
            <Component Id="cmpAF51ECD5D2FCDC8858A8EA6AB00C6158" Guid="{397A43E0-0185-4360-818D-6355D961644E}">
                <File Id="fil80129B103266F1886048561282205336" KeyPath="yes" Source="$(var.BasePath)\PdfAutoSigner.LocalApi.pdb" />
            </Component>
            <Component Id="cmpE260D087049B4CD118DAE3442E2EE672" Guid="{C044E239-4117-47D6-B80B-0FB594B83148}">
                <File Id="fil5F766188732A46FF1838D510006FC278" KeyPath="yes" Source="$(var.BasePath)\tokensettings.json" />
            </Component>
            <Component Id="cmpB139B49DF4DF8F44C525B449EA8187F7" Guid="{FAE8E465-D40D-496E-995C-2EAD06330437}">
                <File Id="filE7A3E65CC622C2E3B9B57707B12C9645" KeyPath="yes" Source="$(var.BasePath)\web.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpA0863526952F7834E7C922F065E4C8A8" />
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmp07CAF59AC988C09B0D7F8E87284AAFCA" />
            <ComponentRef Id="cmpFEDF4DFA76D910658BCEDEBD4353FB46" />
            <ComponentRef Id="cmpCF9EB4896E2EFEE045E5A3D1E1FE31D7" />
            <ComponentRef Id="cmpD6D3DADA9391875AF2602CED4976A7D9" />
            <ComponentRef Id="cmpAF51ECD5D2FCDC8858A8EA6AB00C6158" />
            <ComponentRef Id="cmpE260D087049B4CD118DAE3442E2EE672" />
            <ComponentRef Id="cmpB139B49DF4DF8F44C525B449EA8187F7" />
        </ComponentGroup>
    </Fragment>
</Wix>